.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin-bottom: 50px;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile__content {
  display: flex;
  align-items: center;
}

.profile__avatar {
  position: relative;
  width: 120px;
  height: 120px;
}

.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__picture:not([src]) {
  visibility: hidden;
}

.profile__avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8) url("../images/edit-avatar-button.svg") center no-repeat;
  background-size: 26px 26px;
  opacity: 0;
  cursor: pointer;
}

.profile__avatar:hover .profile__avatar-edit-button {
  opacity: 1;
}

.profile__info {
  margin-left: 30px;
}

.profile__info-name {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 0.6;
  color: #ffffff;
  text-overflow: ellipsis;
}

.profile__info-description {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.profile__info-edit-button {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-size: 10px 10px;
  margin-bottom: 32px;
  margin-left: 18px;
  background: none;
  background-image: url("../images/edit-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.profile__info-edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__info-add-button {
  width: 150px;
  height: 50px;
  background-image: url("../images/add-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border: 2px solid #ffffff;
  margin: 0 0 0 auto;
}

.profile__info-add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .profile {
    max-width: 282px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0 auto;
  }

  .profile__container {
    display: grid;
  }

  .profile__content {
    display: grid;
    grid-column: 2 / 5;
    margin-left: 22px;
  }

  .profile__picture {
    margin-bottom: 30px;
    display: grid;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .profile__info {
    margin-left: 0;
    display: grid;
    grid-row: 2 / 3;
  }

  .profile__info-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }

  .profile__info-edit-button {
    margin-bottom: 40px;
    margin-left: 6px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .profile__info-description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }

  .profile__info-add-button {
    max-width: 282px;
    width: 100%;
    margin: 36px 0 0 0;
    display: grid;
    grid-column: 1 / 5;
    background-image: url("../images/add-button-mobile.svg");
  }
}
